<div class="container">

<div class="col-md-4 col-md-offset-3 pt-1">
    
    <button class="btn form-control btn-success " type="submit" (click)="openDialog()">Add New AGENT</button>
</div>
<br>



<table id="table" class="table table-hover table-mc-light-blue">
    <thead>
      <tr class="align-center">
        <th class="align-center">name</th>
        <th class="align-center">identity</th>

        <th class="align-center"> Delete </th>
        
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listAgent" >
          <td style="cursor: pointer" (click)="navToAgent(item._id);">{{item.name}} 
            
          </td>
          <td >{{item._id}}
          <button  type="button" (click)="copy(item._id)" class="btn" ><i class="fa fa-copy"></i></button></td>
       
        <td> <button type="button" class="btn btn-danger" (click)="deleteAgent(item._id); ">Delete</button></td>

      </tr>
    </tbody>
 </table>