
 
<div class="col-md-4 offset-md-4 mt-5">
  
    <div class="card">
      <h4 class="card-header">Register</h4>
      <div class="card-body">
        <form  [formGroup]="signupForm" (ngSubmit)="registerUser()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control"  formControlName="email" placeholder="Enter email" required>
            <div class="invalid-feedback">
              <div>Email is required</div>
          </div>
      </div>
      <div class="form-group">
        <label for="username">Name</label>
        <input type="text" name="username" id="username" class="form-control" formControlName="name" placeholder="Enter name" required />
       
    </div>
      <div class="form-group">
          <label for="password1">Password</label>
          <input type="password" name="password1" id="pw1" class="form-control"   formControlName="password" placeholder="Password" required />
          <div class="invalid-feedback">
              <div >Password is required</div>
          </div>
      </div>
     
    
      <button type="submit"   class="btn btn-submit form-control" >
          <span class="mt-5 spinner-border-sm mr-1"></span>
          Register
      </button>
    </form>
      <button  class="btn form-control google-btn" (click)="signInWithGoogle()" type="button">
        <span class="mt-5 spinner-border-sm mr-1"></span>
        Login with Google account
    </button>
    
    <div style="text-align: center;">
    <a href="#"  [routerLink]="['/auth/login']" > I have an account</a>
  </div>
      <div  *ngIf="this.err" class="alert alert-danger mt-3 mb-0">{{this.errorMessage}}</div>
  
  
  
   
      </div>
    </div>
  
    </div>