<div 
  >
  <div class ="row">
    <div class="col-6">
  <p class="blog-header-logo text-dark mt-2 ml-3">
Agent1
  </p>
</div>
<div class="col-6">
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>
</div>
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link  " routerLinkActive="active" [routerLink]="['/profileid/agentid/intents']">intents</a>
  <a class="nav-link" routerLinkActive="active"  [routerLink]="['/profileid/agentid/entities']">Entities</a>
  <a class="nav-link" routerLinkActive="active"  [routerLink]="['/profileid/agentid/knowledges']" >knowledge</a>
  <a class="nav-link" routerLinkActive="active"  [routerLink]="['/profileid/agentid/database']" >database</a>
</div>
</div>