<div class="row m-2">
  <input
    type="text"
    class="form-control col-6"
    [(ngModel)]="this.intent.name"
  />
  <button
    type="submit"
    class="form-control btn btn-primary col-4"
    style="margin-left: 10%"
    (click)="onSaveClicked()"
  >
    Save
  </button>
</div>
<br />
<!-- <div class="row m-2">
  <label class="col-12">add to this intent:</label>
  <textarea
    rows="1"
    class="form-control col-8"
    placeholder="add to this intent"
    [(ngModel)]="addItem"
  ></textarea>
  <button
    class="form-control btn btn-success col-3 ml-1"
    (click)="onAddClicked()"
    [disabled]="disabled()"
  >
    add+
  </button>
</div> -->
<div class="row m-2">
  <label class="col-12">add to this intent:</label>
  <div class="col-8">
    <input
      type="text"
      class="form-control mb-1"
      placeholder="add to this intent"
      [(ngModel)]="addItem"
    />
    <div style="padding-bottom: 10px;">
      <textarea
        rows="1"
        class="form-control"
        (keyup)="onKey($event)"
        placeholder="add synonyms to this request"
        [(ngModel)]="synonymes"
      ></textarea>
      <div>
        <span
          *ngFor="let item of tabsynonymes; index as j"
          style="
            background-color: #f8f9fa;
            width: auto !important;
            border-radius: 6px;
            padding: 6px;
            margin-right: 2px !important;
          "
        >
      
          <span>{{ item }} </span>
          <button
            class="btn btn-light btn-sm "
            style="background-color: red !important;"
            (click)="onClickDeleteSynonyme(j)"
          >
            X
          </button>
          <br>
        </span>
      </div>
    </div>
     <!-- answers ************************************-->
     <div style="padding-bottom: 10px;">
      <textarea
        rows="1"
        class="form-control"
        (keyup)="onKeyAnswer($event)"
        placeholder="add answers to this request"
        [(ngModel)]="answers"
      ></textarea>
      <div>
        <span
          *ngFor="let item of tabanswers; index as j"
          style="
            background-color: #f8f9fa;
            width: auto !important;
            border-radius: 6px;
            padding: 6px;
            margin-right: 2px !important;
          "
        >
          <span>{{ item }} </span>
          <button
            class="btn btn-light btn-sm" style="background-color: red !important;"
            (click)="onClickDeleteAnswer(j)"
          >
            X
          </button>
          <br>
        </span>
      </div>
    </div>
  </div>

  <button
    class="form-control btn btn-success col-3 ml-1"
    (click)="onAddClicked()"
    [disabled]="disabled()"
  >
    add+
  </button>
</div>
<br />
<br />
<!-- <div *ngFor="let item of listDescIntent">
      <p>
        {{item}}  <button style="background-color: red;" type="submit" (click) ="onDeleteClicked()">X</button>
      </p> -->
<div *ngFor="let item of this.intent.content; index as i">
  <div class="row">
  <div class="row col-md-10 ">
    <div class="col-md-8">
    <textarea
      rows="1"
      class="form-control  "
      value="{{ item.desc }}"
      (change)="sauvgard($event, i)"
    ></textarea>
  </div>
<div class="col-md-2">
  <button class=" btn btn-primary btn-sm"
   type="button"
   (click)= "openDialog(i)">
   synonymes

  </button></div>
<div class="col-md-2">

  <button
  class=" btn btn-primary btn-sm "
  type="button"
  (click)= "openDialogAnswers(i)">
  answers

 </button>
</div>
  </div>
   <div class="col-md-2">
    <button
      class="  btn  btn-danger  btn-xs "
      style="background-color: red"
      type="button"
      (click)="onDeleteClicked(i)"
    >
      x
    </button>
  </div>

</div>
</div>
