﻿<div class="col-md-4 offset-md-4 mt-5">
  
    <div class="card">
      <h4 class="card-header">Login</h4>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="username">Email</label>
            <input type="email" formControlName="username" class="form-control" required>
            <div class="invalid-feedback">
              <div>Emaail is required</div>
          </div>
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" required />
          <div class="invalid-feedback">
              <div >Password is required</div>
          </div>
      </div>
      <button  class="btn btn-submit form-control" [routerLink]="['/profileid']">
          <span class="mt-5 spinner-border-sm mr-1"></span>
          Login
      </button>
      <button  class="btn form-control google-btn">
        <span class="mt-5 spinner-border-sm mr-1"></span>
        Login with Google account
    </button>
    <div style="text-align: center;">
        <a href="#" [routerLink]="['/auth/register']">Register now!</a>
    </div>
      <div  class="alert alert-danger mt-3 mb-0">error</div>
  
  
  
        </form>
      </div>
    </div>
  
    </div>